<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>manma|admin</title>
</head>

<body>

<%= render 'form' %>

<p>
  <%= "学生の住所：#{@inputaddress}" %>
</p>

<p>
  <%= "家族の住所：#{@familyaddress}" %>
</p>

<p>
  <%= "所要時間：#{@response["routes"][0]["duration"]}秒" %>
  <%= "距離：#{@response["routes"][0]["distance"]}m" %>
</p>

</body>


</html>
